/* Universal Styles */
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif !important;
}

html {
  font-size: 16px;
}

body {
  background-color: #eee9e0;
  margin: 8px !important;
}

/* Universal headings */

.menu-headings {
  padding: 0.5em !important;
}

#breakfast-headings h2 {
  font-size: 3em !important;
  padding: 0.15em;
}

.menu-headings h2,
#tea-container h2 {
  font-size: 3em !important;
  font-family: "Quicksand", sans-serif !important;
}

#breakfast h3 {
  text-align: center;
  font-size: 1.5em !important;
  margin: 0.75em 0 0.5em 0;
  padding: 0.4em;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}

#breakfast-headings h3,
.menu-headings h3
 {
  font-size: 1.75em !important;
}

#breakfast-headings p,
#sunday-headings h3 {
  font-size: 1.45em !important;
  font-weight: normal;
  line-height: 120%;
}

.menu-headings h3 {
  margin: 0 !important;
}

.container h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}

.menu-headings {
  background-color: #73946c !important;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.menu-list h3,
.menu-list h4,
.two-grid h3 {
  margin: 0;
  padding: 0.4em 0.5em 0.2em 0;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 105%;
}

.menu-headings h3 {
  text-align: center;
  padding: 0.25em;
  font-weight: normal;
  font-family: "Quicksand", sans-serif !important;
}

/* Universal Container styles */

.container,
.tea-container
 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.food-container {
  max-height: 175px;
  margin: 1em auto !important;
  padding: 1em;
  display: grid;
  justify-content: center;
}

.food-container img {
 max-height: 175px;
 max-width: 350px;
}

.description {
  text-align: center;
  font-size: 1.3em;
  padding: 0.5em;
}

.menu-list {
  display: grid;
  grid-template: auto auto / minmax( auto, 1200px);
  justify-content: center;
  margin-top: 30px;
}

.menu-list .container {
  padding: 0 1em ;
  border: 0 ;
  border-bottom: 1px solid #ccc;
}

.menu-list .price {
  float: right;
  font-weight: 300;
  font-style: italic;
}


.menu-list .description {
  padding: 0.3em 0.4em 0.3em 0;
  float: left;
  margin: 0;
}
.menu-list .description p {
  margin: 0;
}

 /* 2 by 2 grid layout */

.four-grid-list .container,
.four-grid {
  display: grid;
  grid-template: auto auto / repeat(2, auto);
}

.four-grid-list .menu-headings h2 {
  grid-area: 1 / 1 / 2 / 3;
}

.four-grid-list .menu-headings h3 {
  grid-area: 2 / 1 / 3 / 3;
}

.four-grid-list .price,
.four-grid .price {
  grid-area: 1 / 2 / 2 / 3;
  margin: auto 0;
  text-align: right;
}

.four-grid-list .description,
.four-grid .description {
  grid-area: 2 / 1 / 3 / 2;
}

.four-grid-list .cal,
.four-grid .cal{
  grid-area: 2 / 2 / 3 / 3;
  float: none;
  margin: auto 0;
  padding: 0.25em;
  text-align: right !important;
}

.four-grid-list .container p,
.four-grid .description p {
  text-align: left;
}

/* 1 by 1 grid */

.two-grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto) ;
}


/* Dietary & price styles */

.health-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}

.health-info p {
  margin: 0;
  padding: 0 0.5em;
}

.health-info .cal,
.menu-list .cal {
  float: right;
}

.dietary {
  color: white;
  font-size: 12px !important;
  padding: 0.175em 0.25em;
  font-family: "Manrope", sans-serif;
  margin-left: 2px;
}

.gf, .gfa {
  background-color: #be678e;  
}

.df, .dfa {
  background-color: #52802f;
}

.vg, .vga {
  background-color: #1d1d1b;
}

.nuts {
  background-color: #9b6b4f;
}

.plant {
  color: #52802f;
}

.cal {
  text-align: right;
  font-size: 15px;
  font-style: italic;
}

.price {
  float: right;
  font-weight: normal;
  font-size: 20px !important;
}

/* Header */

.logo {
  display: grid;
  justify-content: center;
  margin: 1em;
}

.logo img {
  max-height: 350px;
  width: 100%;
}

.menu-toggle {
  display: none;
}

header h1,
#child-menu h1
 {
  text-align: center;
  color: #73946c;
  font-size: 4em;
  margin: 10px 0.5em;
}

header nav {
  max-width: 1200px;
  margin: 1em auto;
  background-color: #73946c !important;
}

#menu-list {
  padding: 0.5em;
}

header nav ul {
  display: flex;
  text-align: center;
  padding: 0;
  align-items: center;
  flex-flow: row wrap;
}

header nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  border-right: 1px solid #fff;
  font-size: 1em;
  height: 40px;
}

header nav li:last-child {
  padding-right: 0;
  border: none;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
  color: #ccc;
}

/* Breakfast Styles */

#breakfast {
  display: grid;
  justify-content: center;
  margin: 0 0.25em;
}

#breakfast-grid {
  display: grid;
  grid-template: 700px 380px 450px / repeat(4, minmax( auto , 285px) );
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.traditional {
  grid-area: 1 / 1 / 2 / 3;
}
.toast {
  grid-area: 1 / 3 / 2 / 5;
}
.granola-sundae {
  grid-area: 2 / 1 / 3 / 3;
}
.porridge {
  grid-area: 2 / 3 / 3 / 5;
}

.b-sandwich {
  grid-area: 3 / 2 / 4 / 4;
}

#breakfast p {
  margin: 0.75em 1em;
}

/* Breakfast Intro */

#breakfast-headings {
  max-width: 1200px;
  text-align: center;
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: #73946c;
  color: #fff;
}

#breakfast-headings h3 {
  margin: 0;
  padding: 0.3em !important;
}

#breakfast-info {
  padding: 0 1em;
}

/* English Breakfast */

#plant-breakfast {
  padding: 0.75em 0 !important;
  border-top: 1px solid #ccc;
}

/* Toast */

.toast aside {
  text-align: center;
  font-size: 22px;
  padding: 0 0.5em 0.5em 0.5em;
  border-bottom: 1px solid #ccc;
}

.toast h4 {
  margin: 0.5em 0 0.2em 0;
  padding: 0 1em;
  font-size: 20px;
  font-weight: 500;
}

.toast-toppings {
  border-top: 1px solid #ccc;
  margin-bottom: 0.75em;
  padding-top: 0.5em;
}

#toast-eggs {
  border-top: none;
}

.toast .cal {
  margin:0.2em 1em 0.3em 1em !important;
}

.toast .description {
  padding: 0;
}

.toast .description p {
  margin: 0.4em 0 !important;
}

#avo {
  font-style: italic;
  padding-right: 1em;
}

/* Granola Sundae & Porridge */

.granola-sundae .description,
.porridge .description {
  padding: 0 !important;
}

.granola-sundae .description p:first-child,
.porridge .description p:first-child {
  margin: 0 0 0.75em 0 !important;
}

.granola-sundae .cal {
  margin: 0.75em 1em 0 1em !important;
}

/* Breakfast Sandwiches */

.b-sandwich .description {
  padding: 0 1em;
}

.b-sandwich p {
  text-align: left;
  margin: 0.6em 0 !important;
}

/* Panini and Jackets */

#panini-jackets {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

#p-j-grid {
  display: grid;
  grid-template: 550px / repeat(2, minmax(auto, 590px));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

#panini-jackets .menu-headings {
  max-width: 1200px;
  display: grid;
  justify-content: center;
}

#panini-jackets h2 {
  margin: 0 0.5em;
  padding: 0.3em;
  font-family: "Quicksand", sans-serif;
}

#panini-jackets h3 {
  padding: 0.5em;
  font-size: 18px;
}

#panini-jackets h3,
#panini-jackets h4 {
  text-align: center;
}

#panini-jackets h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

#panini-jackets p {
  margin: 0.8em 0;
  padding: 0 0.5em;
  font-size: 1em !important;
  text-align: left;
}

#panini-jackets p:first-child {
  margin-top: 0.3em;
}

#panini .description {
  display: grid;
  grid-template: repeat(5, auto) / auto auto;
}

#panini .price,
#jackets .price {
  text-align: right;
  margin: auto 0;
}

#panini p {
  margin: 0.5em 0;
}

#jackets .description {
  display: grid;
  grid-template: repeat(3, auto) / auto auto;
  margin-top: 1em;
}

#jackets p {
  margin: 1em 0;
}

#upgrade {
  font-style: italic;
}

/* Light lunches and extras */

#quiches {
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto) ;
}

#quiches .extras {
  display: grid;
  grid-area: 3 / 1 / 4 / 3;
  grid-template: repeat(3, auto) / repeat(2, auto) ;
}

#quiches .description p {
  text-align: left;
}

#quiches .price,
#quiches .cal,
.two-grid .price,
#add-cheese-price {
  margin: auto 0;
  text-align: right;
}

.extras {
  font-size: 22px !important;
}

.extras p {
  margin: 0.25em 0;
  font-size: 1.1em;
}

.extras .cal,
#sunday-lunch .cal,
#add-cheese .cal {
  float: none;
  font-weight: normal;
}

/* sides */

#sides .cal,
#sunday-lunch .cal,
#kids-beans-extra .cal {
  margin-bottom: 0.2em;
  float: none;
  font-weight: normal;
}

/* Sunday lunch */

#sunday-lunch .extras {
  grid-area: 5 / 1 / 6 / 3;
}

#sunday-headings h3 {
  font-size: 1.45em;
}

/* kids */

#child-menu {
  margin-top: 2em;
}

#kids-jacket {
  grid-template: auto auto auto / 3fr 1fr;
}
#add-cheese {
  grid-area: 3 / 1 / 4 / 2;
  font-style: italic;
  margin: 0;
  padding: 0.2em 0.3em 0.5em 0;
}
#add-cheese-price {
  grid-area: 3 / 2 / 4 / 3;
}

/* Afternoon tea */

#afternoon-tea {
  display: grid;
  grid-template: auto / 820px ;
  margin-top: 30px;
  justify-content: center;
}

#tea-container {
  display: grid;
  justify-items: center;
  color: #73946c ;
  border: 1px solid #73946c;
  padding: 0 0.5em;
  background-color: #fff;
}

#afternoon-tea h2 {
  margin: 0.5em;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#afternoon-tea aside {
  font-size: 1.3em;
  text-align: center;
}

#afternoon-tea .description {
  padding: 0;
}

#afternoon-tea .description p {
  font-size: 1.2em;
}

#afternoon-tea p {
  font-size: 17px;
  margin: 0.5em 0.25em;
  line-height: 120%;
}

#afternoon-tea .tea-img {
  margin: 1em 1.25em;
}

#afternoon-tea img {
  max-height: 300px;
  width: 100%;
}

/* dietary info section */

.dietary-info {
  margin-top: 30px;
}

.dietary-info .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  border: 1px solid #73946c;
}

.free-available {
  display: flex;
  flex-flow: wrap;
  justify-content: center;  
}

.dietary-info p {
  display: inline-block;
  font-size: 1.1em;
  margin: 0.65em 1em;
}

.dietary-info .dietary {
  font-size: 16px !important;
}

.free-from {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

/* footer */

footer section {
  margin: 20px auto 0 auto;
  max-width: 1200px;
}

footer .created-by {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
}

.created-by p {
  margin: 0;
  font-style: italic;
}

footer .logo-icon {
  margin-left: 0.5em;
  padding: 0.25em;  
}

footer .logo-icon img{
  height: 25px;
}
#disclaimer {
  padding: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#disclaimer p {
  text-align: center;
  font-size: 14px;
}

/* View port */

@media only screen and (max-width: 1240px) {
  #breakfast {
    grid-template-columns: minmax(auto, 1200px) ;
  }
  #breakfast-headings {
    max-width: none !important;
  }
  #breakfast-grid {
    grid-template: repeat(5, auto) / minmax(auto, 600px);
  }
  .traditional {
    grid-area: 1 / 1 / 2 / 2; 
  }
  .traditional .description {
    padding: 0 0.5em;
  }
  .traditional .description p {
    margin: 0 !important;
  }
  .traditional,
  .toast {
    padding-bottom: 1em;
  }
  .toast {
    grid-area: 2 / 1 / 3 / 2;
  }
  .granola-sundae {
    grid-area: 3 / 1 / 4 / 2;
  }
  .porridge {
    grid-area: 4 / 1 / 5 / 2;
  }
  .b-sandwich {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media only screen and (max-width: 1020px) {
  #panini-jackets {
    grid-template-columns: minmax(auto, 1200px) ;
  }  
  #p-j-grid {
    grid-template: repeat(2, auto) / minmax(auto, 590px);
  }

  #panini-jackets .menu-headings {
    max-width: none !important;
  }
  #jackets .description {
    margin-top: 0;
  }
}

@media only screen and (max-width: 820px) {
  #afternoon-tea {
    grid-template: auto / auto ;
  }
}

@media only screen and (max-width: 736px) {
  header nav ul {
    flex-flow: column;
    margin: 0.5em 3em;
  }
  header nav li {
    border-bottom: 1px solid #ccc;
    border-right: none;
    padding: 0.25em;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  #afternoon-tea .description p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 3em;
  }
  #breakfast-headings h2, 
  .menu-headings h2,
  #tea-container h2 {
    font-size: 2.5em !important;
  }
}

@media only screen and (max-width: 500px) {
  #panini-jackets p {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 430px) {
  .menu-headings h2,
  #tea-container h2,
  #breakfast-headings h2
   {
    font-size: 2em !important;
  }
  #breakfast-headings p {
    padding: 0 !important;
    margin: 0.75em 0.25em !important;
    font-size: 1.2em !important;
  }
  .menu-headings h3 {
    font-size: 1.75em !important;
  }
  #sunday-headings h3 {
    font-size: 1.2em !important;
  }
  .description p {
    font-size: 0.8em !important;
  }
  .menu-list h3,
  .menu-list h4 {
    font-size: 18px !important;
  }
  .price {
    font-size: 16px !important;
  }
  header h1,
  #child-menu h1 {
    font-size: 2.5em;
  }
  .logo img {
    max-height: 250px;
  }
  #breakfast h3 {
    font-size: 22px !important;
  }
  #breakfast p {
    margin: 0.75em 0.5em;
    padding: 0 0.5em;
  }
  .toast h4 {
    font-size: 18px;
  }
  .toast aside {
    font-size: 19px;
  }
  .b-sandwich p {
    font-size: 0.8em !important;
  }
  .dietary-info p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .food-container {
    margin: auto 0 auto !important;
  }
  .food-container img {
    max-height: 125px;
  }
  #breakfast h3 {
    margin: 0 0 0.5em 0 !important;
    padding: 0 0.4em 0.4em 0.4em;
  }
  .traditional .description p {
    margin-bottom: 0.5em !important;
  }
  .traditional,
  .toast {
    padding-bottom: 0.5em;
  }
}

@media only screen and (max-width: 350px) {
  .food-container img {
    max-height: 100px;
  }
}

@media only screen and (max-width: 340px) {
  header h1,
  #child-menu h1 {
    font-size: 2em;
  }
  .menu-headings h2,
  #tea-container h2,
  #breakfast-headings h2 {
    font-size: 1.8em !important;
  }
  #breakfast-headings p {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: 290px) {
  .food-container img {
  max-height: 80px;
  }
}