/* Universal Styles */

body {
  background-color: #eee9e0;
}

#breakfast-headings h2 {
  font-size: 4em !important;
}

.menu-headings h2,
#sunday-headings h2,
.tea-container h2 {
  font-size: 3em !important;
}

#breakfast-headings h3,
.menu-headings h3 ,
.tea-container h3
 {
  font-size: 2.25em !important;
}

#breakfast-headings p,
#sunday-headings h3 {
  font-size: 1.45em;
  font-weight: normal;
}

.menu-headings h3,
#sunday-headings h3,
.tea-container h3 {
  margin: 0 0 0.5em 0 !important;
}

.container,
.tea-container
 {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.container img {
  width: 100%;
  height: auto;
  max-height: 200px;  
}

.container h2,
.tea-container h2 {
  margin: 0;
  padding: 0.25em 0;
  text-align: center;
  font-size: 1.5em;
}

.container .cal {
  font-style: italic;
}

.cal {
  font-size: 15px ;
}

.price {
  font-size: 18px !important;
}

.description {
  text-align: center;
  font-size: 1.3em;
  padding: 0.5em;
}

/* Non Picture Styles */

.menu-list {
  display: grid;
  grid-template: auto auto / minmax( auto, 820px );
  justify-content: center;
  margin-top: 30px;
}

.menu-headings,
#sunday-headings {
  background-color: #73946c;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.menu-list .container {
  padding: 0 1em ;
  border: 0 ;
  border-bottom: 1px solid #ccc;
}

.menu-list .price {
  float: right;
  font-weight: normal;
  font-style: italic;
}

.menu-list h3,
.menu-list h4 {
  margin-bottom: 0.25em;
  font-size: 20px;
}

.menu-list .description {
  padding: 0 0 0.4em 0;
  float: left;
  margin: 0;
}
.menu-list .description p {
  margin: 0;
}

/* Dietary styles */

.health-info {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}

.health-info p {
  margin: 0;
  padding: 0 0.5em;
}

.health-info .cal,
.menu-list .cal {
  float: right;
}

.dietary {
  color: white;
  font-size: 12px !important;
  padding: 0.175em 0.25em;
  font-family: "Manrope", sans-serif;
  margin-left: 2px;
}

.gf, .gfa {
  background-color: #be678e;  
}

.df, .dfa {
  background-color: #52802f;
}

.vg, .vga {
  background-color: #1d1d1b;
}

.nuts {
  background-color: #9b6b4f;
}

.plant {
  color: #52802f;
}

/* Header */

header h1,
#child-menu h1
 {
  text-align: center;
  color: #73946c;
  font-size: 4em;
  margin: 10px 0;  
}

header nav {
  max-width: 1330px;
  margin: 1em auto;
  background-color: #73946c !important;
}


header nav ul {
  display: flex;
  text-align: center;
  padding: 0;
  align-items: center;
}

header nav li {
  flex: 1;
  display: inline-block;
  padding: 0 0.25em;
  border-right: 1px solid #fff;
}

header nav li:last-child {
  padding-right: 0;
  border-right: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}


/* Breakfast Styles */

#breakfast {
  display: grid;
  grid-template: repeat(2, 350px) / repeat(5, 250px);
  gap: 20px;
  justify-content: center;
}

.b-sandwich img,
.porridge img,
.granola-sundae img {
  height: 145px;
}


/* Breakfast Intro */

#breakfast-headings h3 {
  margin: 0.75em;
}

#breakfast-info {
  padding: 0 1em;
}

#breakfast-headings {
  grid-area: 1 / 2 / 2 / span 3;
  text-align: center;
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: #73946c;
  color: #fff;
}

/* English Breakfast */

.traditional-english {
  display: grid;
}

.traditional {
  grid-area: 1 / 1 / 3 / 2;
}

.plant-breakfast {
  border-top: 1px solid #ccc;
  margin-top: 0.9em !important;
}

/* Toast */

.toast {
  grid-area: 1 / 5 / 3 / 6;
}

.toast h2 {
  border-bottom: 1px solid #ccc;
}

.toast h3 {
  font-weight: normal;
  font-size: 18px;
  margin: .25em 0;
  padding: 0.25em 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.toast h4 {
  text-align: left;
  font-size: 17.5px !important;
  margin: 0.5em 0 0.4em 0;
  padding: 0.25em 0.5em;
}

.toast .description {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

.toast p {
  margin: 0.25em 0;
  font-size: 0.9em !important;
}
.toast .price {
  float: right;
  font-weight: normal;
}

.toast .cal {
  text-align: center;
}

.toast .health-info:last-child {
  border: none;
}

#avo {
  text-align: left;
  font-style: italic;
  margin-left: 4px;
}

/* Breakfast Sandwiches */

.b-sandwich h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}

.b-sandwich .price {
  float: right;
}

.b-sandwich .cal {
  margin-right: 3px;
}

.b-sandwich p:first-child,
#panini-jackets p:first-child {
  margin-top: 0.3em;
}

.b-sandwich p,
#panini-jackets p
{
  margin: 0.8em 0;
  font-size: 0.8em !important;
  text-align: left;
}

.b-sandwich .cal {
  font-size: 0.75em !important;
}

/* Panini and Jackets */

#panini-jackets {
  display: grid;
  grid-template: 550px / 400px 400px;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

#panini-jackets h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
}

#panini-jackets h3,
#panini-jackets h4 {
  text-align: center;
}

#panini-jackets h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  margin: 0.9em 0;
}

.panini .price,
.jackets .price {
  float: right;
}

.panini p {
  margin: 0.9em 0;
}

.jackets .description {
  margin-top: 2em;
}

.jackets p {
  margin: 1.2em 0;
}

#upgrade {
  font-style: italic;
}

/* Light lunches & sides */

.extras {
  margin-top: 40px;
}

.extras p {
  margin: 0.25em 0;
  font-size: 1.1em;
}

.extras .cal,
#sunday-lunch .cal {
  float: none;
}

#sides h4,
#sunday-lunch h4 {
  margin: 0.5em;
}

#sides .cal,
#sunday-lunch .cal,
#kids-beans-extra .cal {
  margin-bottom: 0.2em;
  float: none;
  font-weight: normal;
}


/* Sunday lunch */

#sunday-headings h3 {
  font-size: 1.45em;
}

/* kids */

#child-menu {
  margin-top: 2em;
}

#kids-beans-extra {
  padding-bottom: 0.5em;
}

/* Afternoon tea */

#afternoon-tea {
  display: grid;
  grid-template: auto / 820px ;
  margin-top: 30px;
  justify-content: center;
}

.tea-container {
  display: grid;
  justify-items: center;
  color: #73946c ;
  border: 1px solid #73946c;
}

.tea-container .description {
  padding: 0.5em 0 0 0;
}

.tea-container .description p {
  font-size: 1.2em;
}

.tea-container p {
  margin: 0.5em 0;
  font-size: 17px;
}

#afternoon-tea img {
  height: 300px;
}

/* dietary info section */

.dietary-info {
  margin-top: 30px;
}

.dietary-info .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1330px;
  margin: auto;
}


.dietary-info p {
  display: inline-block;
  font-size: 18px;
  margin: 0.65em 1em;
}

.dietary-info .dietary {
  font-size: 16px !important;
}